*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    min-height: 100vh;
    min-width: 100dvh;
    background-size: cover;
    background-image:url(kankitsi.jpg);
    background-position: center;
    
}
.main::before{
    content: "";
    position: absolute;
    inset:0;
    background: rgba(0,0,0,0.3);
}
.navbar{
    width: 900px;
    height: 75px;
    
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: brown;
    font-size:larger;
    font-family:Aerial;
    padding-left: 15px;
    padding-top: 20px;
    float: left;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family: Aerial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: orange;
}
